{% extends 'base.html.twig' %}

{% block title %}Proyecto index{% endblock %}

{% block body %}
    <h1>Proyecto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Imagen_cabecera</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.id }}</td>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.imagenCabecera }}</td>
                <td>{{ proyecto.createdAt ? proyecto.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proyecto.updatedAt ? proyecto.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_proyecto_show', {'id': proyecto.id}) }}">show</a>
                    <a href="{{ path('app_proyecto_edit', {'id': proyecto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proyecto_new') }}">Create new</a>
{% endblock %}
