{% extends 'base.html.twig' %}

{% block title %}Actividad{% endblock %}

{% block body %}
    <h1>Actividad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actividad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ actividad.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha_hora</th>
                <td>{{ actividad.fechaHora ? actividad.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ actividad.lugar }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ actividad.createdAt ? actividad.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ actividad.updatedAt ? actividad.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_actividad_index') }}">back to list</a>

    <a href="{{ path('app_actividad_edit', {'id': actividad.id}) }}">edit</a>

    {{ include('actividad/_delete_form.html.twig') }}
{% endblock %}
